
Trello/UserStories/Week4/obj/

Trello/UserStories/Week4/.vs/

Trello/UserStories/Week4/bin/

Trello/UserStories/PockerPointsNet7/.vs/

Trello/UserStories/PockerPointsNet7/bin/

Trello/UserStories/PockerPointsNet7/obj/
